/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";


global
{
	content-background-alpha: 1.0;
}
s|TextBase
{
	color: #8F8145;	
}

s|View
{
	backgroundColor: #333333;
	color: #8F8145;
}
s|TextInput
{
	contentBackgroundColor:#414141;
	color: #8F8145;
}
s|Label
{
	fontFamily: "_sans";
	color: #8F8145;
	fontSize: 23;
	textAlign: left;
}
s|Image
{
	smoothingQuality: high;
	backgroundColor: #333333;
}
s|Button
{
	chromeColor: #414141;
}
s|List
{
	contentBackgroundColor: #434343;
	alternatingItemColors:#454545;
	borderVisible:true;
	color:#8F8145;
	fontSize: 24;
}
s|TextArea
{
	fontFamily: "Courier New";
	fontSize: 18;
	contentBackgroundColor:#414141;
	color: #8F8145;
}
s|Button.playButton
{
	skinClass:ClassReference("skins.buttonbar.horizonal.MiddleHButton");
}
s|Button.stopButton
{
	skinClass:ClassReference("skins.buttonbar.horizonal.MiddleHButton");
}
s|Button.previousButton
{
	skinClass:ClassReference("skins.buttonbar.horizonal.LeftButton");
}
s|Button.nextButton
{
	skinClass:ClassReference("skins.buttonbar.horizonal.RightButton");
}
s|Button.repeatButton
{
	skinClass:ClassReference("skins.buttonbar.vertical.TopButton");
}
s|Button.muteButton
{
	skinClass:ClassReference("skins.buttonbar.vertical.BottomButton");
}
s|Button.ShuffleButton
{
	skinClass:ClassReference("skins.buttonbar.vertical.MiddleVButton");
}
s|Button.PlaylistButton
{
	skinClass:ClassReference("skins.buttonbar.horizonal.LeftButton")
}
s|Button.LibraryButton
{
	skinClass:ClassReference("skins.buttonbar.horizonal.MiddleHButton")
}
s|Button.SettingsButton
{
	skinClass:ClassReference("skins.buttonbar.horizonal.RightButton")
}
s|Label.playingTrack
{
	fontFamily: "_sans";
	fontSize: 24;
	fontWeight: bold;
	textAlign: left;
}
s|Label.playingTrackLabel
{
	fontSize: 20;
	textDecoration: none;
}
