/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";


global
{
	content-background-alpha: 1.0;
}
	
s|ActionBar
{
	chromeColor: #0099CC
}
s|View
{
	backgroundColor: #E6E8FA
}
s|TextInput
{
	color: #E0DFDB
}
